<div class="steel_item-container">
	<div class="steel-item">
		<h3>{{type}}</h3><br>
		<p class="sub-heading">{{section}}</p>
		<div class="details">
			<p>Grade: {{grade}}</p>
			<p>Length: {{length}}</p>
			<p>Quantiy: {{quantity}}</p>
		</div>
		<div class="status"><p class="status">{{status}}<p></div>
	</div>
</div>