<div class="filter-container">
	<div id="filter">
		<label for="type-filter"></label>
		<select id="type-filter">
			<option value="">All Types</option>
			{{#if type}}
				<option selected value="{{type}}">{{type}}</option>
			{{/if}}
			{{#each types}}
			<option value="{{this}}">{{this}}</option>
			{{/each}}
		</select>
		{{#if sections}}
		<select id="section-filter">
			<option value="">All Sections</option>
			{{#each sections}}
			<option value="{{this}}">{{this}}</option>
			{{/each}}
		</select>
		{{/if}}
	</div>
</div>	