<div class="steel_item-container">
	<div class="steel-item">
		<h3>{{type}}</h3><br>
		<p class="sub-heading">{{section}}</p>
		<div class="details">
			<p>Grade: <b>{{grade}}</b></p>
			<p>Length: <b>{{length}}</b></p>
			<p>Quantiy: <b>{{quantity}}</b></p>
		</div>
		<button class="options">
			<span class="icon glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
		</button>
		<div class="mc actions-container" id="actions-container">
			<ul>
				<li class="menu-option" id="edit">Edit
					{{!-- <span class="icon glyphicon glyphicon-folder-open" aria-hidden="true"> --}}
				</li>
				<li class="menu-option" id="delete">Delete
					{{!-- <span class="icon glyphicon glyphicon-log-out" aria-hidden="true"> --}}
				</li>
			</ul>
		</div>
	</div>
</div>