<div class="form-container">
	<form class="add_steel">
		<label for="">Type</label>
		<select class="form-control" id="sd" class="steel_type selectmenu">
			{{#if type}}
				<option value="{{typeId}}" selected >{{type}}</option>
			{{/if}}
			{{#each types}}
				<option>{{this}}</option>
			{{/each}}
			
		</select>

		<label for="">Section</label>
		<select class="form-control" class="steel_section">
			{{#if section}}
				<option selected >{{section}}</option>
			{{/if}}
			{{#each sections}}
				<option>{{this}}</option>
			{{/each}}
		</select>

		<label for="">Grade</label>
		<select class="form-control" class="steel_grade">
			{{#if grade}}
				<option selected >{{grade}} </option>
			{{/if}}
			{{#each grades}}
				<option>{{this}}</option>
			{{/each}}
		</select>

		<label for="length">Length</label>
		<input class="form-control" {{#if length}}value={{length}}{{/if}} id="length" name="length" type="number">

		<label for="length">Quantity</label>
		<input class="form-control" {{#if quantity}}value={{quantity}}{{/if}} id="quantity" name="quantity" type="number">

		<label for="commments">Comments</label>
		<textarea class="form-control" id="comments" name="comments" type="text">{{comments}}</textarea>
		<input class="confirm" id="submit-form" type="button" value="Submit"/>
		<input class="cancel" id="cancel-form" type="button" value="Cancel"/>
	</form>
</div>