<div class="filter-container">
	<div id="filter">
		<select id="type-filter" class="form-control">
			<option value="">All Types</option>
			{{#if type}}
				<option selected value="{{type}}">{{type}}</option>
			{{/if}}
			{{#each types}}
			<option value="{{this}}">{{this}}</option>
			{{/each}}
		</select>
		{{#if sections}}
		<select id="section-filter" class="form-control">
			<option value="">All Sections</option>
			{{#each sections}}
			<option value="{{this}}">{{this}}</option>
			{{/each}}
		</select>
		{{/if}}
	</div>
</div>	