{{#if available}}
	{{#unless filter}}
		{{#unless filter-section}}
			<div class="steel_item-container">
				<div class="steel-item">
					<h3>{{type}}</h3><br>
					<p class="sub-heading">{{section}}</p>

					<div class="details">
						<p>Grade: {{grade}}</p>
						<p>Length: {{length}}</p>
						<p>Quantiy: {{quantity}}</p>
					</div>
					<button class="info">
						<span class="icon glyphicon glyphicon-eye-open" aria-hidden="true"></span>
					</button>
				</div>
				<div class="other-info">
					<p>{{comments}}</p>
					<p class="added_by">{{added_by}}</p>
					<p class="date_added">{{date_added}}</p>
				</div>
			</div>
		{{/unless}}
	{{/unless}}
{{/if}}