<div class="steel_order-container">
	<div class="steel_order">
		<h3>{{type}}</h3>
		<table class="order_details">
			<tr>
				<th>Section: </th><td>{{section}}</td>
			</tr>
			<tr>
				<th>Grade: </th><td>{{grade}}</td>
			</tr>
			<tr>
				<th>Length: </th><td>{{length}}</td>
			</tr>
			<tr>
				<th>Quantity: </th><td>{{quantity}}</td>
			</tr>
			{{#if comments}}
			<tr>
				<th>Comments: </th><td>{{comments}}</td>
			</tr>
			{{/if}}
		</table>
		<button class="confirm_order">Confirm</button>
		<button class="cancel_order">Cancel</button>
	</div>
	<div class="confirmation">
			<div class="confirm_header">
				<h4>Order Confirmed!</h4>
			</div>
			<div class="text">
				<p>Your order has been confirmed!</p>
			</div>
			<div class="actions">
				<button id="my_orders">My Orders</button>
				<button id="home">Home</button>
			</div>
		</div>
</div>